.btnContainer {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  margin: 20px;
}

.ctrlContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.display {
  width: 200px;
  height: 50px;
  background-color: rgb(107, 145, 99);
  margin: 15px auto;
  padding: 15px;
  box-sizing: border-box;
}
